body {
	background-color: #41b3a3;
	font-family: verdana;
	font-size: 32;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
	background-color: #e8a87c;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

li a:hover {
	background-color: #e27d60;
}

li a.active {
  background-color: #c38d9e;
  color: gold;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

form {
	text-align: center;
}

select {
	text-align: center;
}

footer {
	padding-top: 3px;
	position: absolute;
	height: 30px;
	margin-bottom: 0;
	bottom: 0;
  width: 100%;
	background-color: #c38d9e;
	padding: 8px;
	text-align: left;
	color: black;
}
